PORT=4010
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=smart_gate_db_new
JWT_SECRET=smart-gate-super-secret
CAMERA_RTSP_URL=rtsp://10.255.252.106/live/ch00_0
CAMERA_SNAPSHOT_FILE=latest-camera.jpg
FFMPEG_PATH=ffmpeg
OCR_SERVICE_URL=http://127.0.0.1:5000
